.main
	.content-fluid
		.jumbotron
			%h1
				Welcome to Omni Auth log with Ruby
			%p
				You are seeing this page because you are not logged in. You must sign up and or log in to view more contents.
				%a.btn.btn-primary.btn-lg{:role => "button"} Learn more